*{
	margin: 0;
	font-family: "Work Sans";
}

ul{
	list-style: none;
}

.top{
	width: 100%;
	height: 75px;
	display: flex;
	justify-content: center;
}

.top #menu{
	display: flex;
	align-content: center;
	flex-wrap: wrap;
	width: 30%;
}

.top #menu li{
	display: inline-block;
	padding-right: 10%;
}

.top #logo{
	display: flex;
	align-self: center;
	width: 30%;
	object-fit: scale-down;
}

.top .utils{
	display: flex;
	align-items: center;
	width: 30%;
	justify-content: flex-end;
}

.top .utils img{
	padding-right: 10%;
}

.main{
	max-width: 100%;
	display: flex;
	margin: 2% 0;
	justify-content: space-between;
}

.main .buttons{
	display: flex;
	width: 60%;
}

.main .buttons #left, #right{
	object-fit: contain;
	padding: 0 10%;
	margin-bottom: 15%;
}

.main .buttons #left{
	transform: rotate(90deg);
}

.main .buttons #right{
	transform: rotate(270deg);
}

.main .buttons .gallery{
	display: flex;
	flex-direction: column;
}

.main .buttons .gallery .bigimg{
	padding-bottom: 5%;
}

.main .buttons .gallery .selector{
	display: flex;
	justify-content: space-between;
}

.main .about{
	display: flex;
	background-color: #F1F2F4;
	padding: 5% 5%;
	flex-direction: column;
	max-width: 40%;
	justify-content: space-between;
}

.main .about .text{
	display: flex;
	flex-direction: column;
	max-width: 60%;
}

.main .about .text h1{
	padding-bottom: 10%;
	font-size: 42px;
}

.main .about .text span{
	white-space: pre-line;
	font-size: 18px;
}

.main .about .colorpicker{
	display: flex;
	flex-direction: column;
}

.main .about .colorpicker .colors{
	display: flex;
	max-width: 25%;
	justify-content: space-between;
	padding-top: 3%;
}

.main .about .colorpicker .colors .bluishgrey{
	width: 20px;
	height: 20px;
	border-radius: 100%;
	background-color: #B0C3C7;
}

.main .about .colorpicker .colors .darkblue{
	width: 20px;
	height: 20px;
	border-radius: 100%;
	background-color: #3B6392;
}

.main .about .colorpicker .colors .grey{
	width: 20px;
	height: 20px;
	border-radius: 100%;
	background-color: #BFC3C8;
}

.main .about .size{
	display: flex;
	flex-direction: column;
}

.main .about .size .sizes{
	display: flex;
	max-width: 35%;
	padding-top: 3%;
	justify-content: space-between;
	color: #727A82;
	font-weight: 550;
}

.main .about .size .sizes .chosen{
	color: black;
}

.main .about .price{
	font-size: 20px;
	font-weight: 600;
}

.main .about .button{
	width: 200px;
	background-color: black;
	color: white;
	height: 60px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 600;
	margin-bottom: -5%;
}

.also{
	display: flex;
	width: 100%;
	flex-direction: column;
	padding-bottom: 5%;
}

.also h1{
	padding-left: 5%;
	padding-bottom: 3%;
}

.also .alsoitems{
	display: flex;
	justify-content: space-around;
}

.also .alsoitems div{
	max-width: 15%;
}

.bottom{
	display: flex;
	background-color: #151C22;
	width: 100%;
	height: 220px;
	font-family: "Work Sans";
	color: white;
	align-items: center;
	justify-content: center;
}

.bottom table{
	width: 100%;
	display: flex;
	justify-content: center;
}

.bottom table tr{
	width: 100%;
	display: flex;
	justify-content: space-evenly;
	padding-bottom: 7%;
}

.bottom table #buttons td{
	padding-left: 10%;
	padding-right: 10%;
}

.bottom table #sm{
	padding-top: 7%;
}