*{
	margin: 0;
	font-family: "Work Sans";
	list-style-type: none;
	text-decoration: none;
}

ul{
	list-style: none;
}

.top{
	width: 100%;
	height: 75px;
	display: flex;
	justify-content: center;
	font-weight: 550;
}

.top #menu{
	display: flex;
	align-content: center;
	flex-wrap: wrap;
	width: 30%;
}

.top #menu li{
	display: inline-block;
	padding-right: 10%;
}

.top #logo{
	display: flex;
	align-self: center;
	width: 30%;
	object-fit: scale-down;
}

.top .utils{
	display: flex;
	align-items: center;
	width: 30%;
	justify-content: flex-end;
}

.top .utils img{
	padding-right: 10%;
}

.banner{
	width: 100%;
	display: flex;
	height: 500px;
	background: #F1F2F4;
	justify-content: center;
	align-items: center;
}

.banner .bannerwrap{
	justify-content: space-around;
	align-items: center;
	display: flex;
	width: 90%;
}

.banner .bannerwrap .about{
	display: flex;
	flex-direction: column;
	width: 25%;
}

.banner .bannerwrap .about #textwrap{
	color: #727A82;
	padding-bottom: 10%;
}

.banner .bannerwrap .about #text{
	color: black;
}

.banner .bannerwrap .about span{
	font-size: 26px;
}

.banner .bannerwrap .about h1{
	font-size: 42px;
}

.banner .bannerwrap .bannerimg{
	display: flex;
	width: 40%;
}

.banner .bannerwrap .bannerimg #mainimg{
	height: 500px;
	z-index: 1;
}

.banner .bannerwrap .bannerimg #diag1{
	position: absolute;
	margin-left: 9%;
	height: 350px;
}

.banner .bannerwrap .bannerimg #diag2{
	position: absolute;
	margin-left: -3.5%;
	margin-top: 12.4%;
}

.everything{
	width: 100%;
}

.everything .filter{
	width: 90%;
	display: flex;
	height: 200px;
	justify-content: center;
	align-items: flex-end;
	flex-direction: column;
}

.everything .filter .filterButton{
	display: inline-flex;
	border: 3px solid;
	width: 20%;
	height: 35%;
	align-items: center;
	justify-content: space-between;
	color: black;
}

.everything .filter .filterButton span{
	padding-left: 10%;
	font-size: 24px;
	font-weight: 500;
}

.everything .filter .filterButton img{
	padding-right: 10%;
	position: relative;
}

.everything .filter #dropdown{
	width: 18%;
	display: none;
	flex-direction: column;
	border: 3px solid;
	border-top: none;
	position: absolute;
	top: 73.2%;
	background-color: white;
	max-height: 1000px;
	padding:0;
}

.everything .filter #dropdown .regular{
	display: flex;
	border-bottom: 2px solid;
	border-color: #cacacc;
	font-weight: 550;
	font-size: 20px;
	align-items: center;
	width: 100%;
	justify-content: space-between;
	height: 50px;
	position: relative;
}

.everything .filter #dropdown .regular a{
	padding-left: 10%;
}

.everything .filter #dropdown .apply{
	display: flex;
	margin-top: 20%;
	width: 100%;
	height: 90px;
	background-color: black;
	justify-content: center;
	align-items: center;
}

.everything .filter #dropdown .apply a{
	color: white;
	font-size: 20px;
	font-weight: 600;
}

.everything .filter #dropdown .clear{
	display: flex;
	align-items: center;
	justify-content: center;
	width:100%;
	height: 90px;
	font-size: 20px;
	font-weight: 550;
}

.everything .filter #dropdown li a{
	color: black;
}

.everything .filter #dropdown li img{
	margin-right: 10%;
	object-fit: scale-down;
}

.everything .filter #dropdown .regular div{
	display: none;
}

.everything .filter #dropdown #price{
	flex-wrap: wrap;
	display: flex;
}

.everything .filter #dropdown #price .priceslider{
	display: none;
	width: 100%;
	height: 75px;
	position: absolute;
	margin-top: 50%;
	margin-left: -15%;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	flex-direction: column;
}

.everything .filter #dropdown #price .priceslider .slidergrey{
	width: 80%;
	display: flex;
	height: 5%;
	background: #cacacc;
	border-radius: 20px;
}

.everything .filter #dropdown #price .priceslider .sliderblack{
	width: 60%;
	height: 5%;
	display: flex;
	background: black;
	border-radius: 20px;
	margin-top: -3.5px;
}

.everything .filter #dropdown #price .priceslider .ball1{
	width: 20px;
	height: 20px;
	border-radius: 100%;
	background-color: black;
	margin-top: -3.5%;
	margin-left: -60%;
}

.everything .filter #dropdown #price .priceslider .ball2{
	width: 20px;
	height: 20px;
	border-radius: 100%;
	background-color: black;
	margin-top: -5.75%;
	margin-right: -60%;
}

.everything .filter #dropdown #price .priceslider .prices{
	width: 100%;
	display: flex;
	padding-top: 5%;
	justify-content: space-around;
}

.everything .filter #dropdown #color{
	display: flex;
	flex-wrap: wrap;
}

.everything .filter #dropdown #color .colorpicker{
	display: none;
	width: 88%;
	height: 60px;
	margin-top: 45%;
	position: absolute;
	justify-content: space-between;
	margin-left: -5%;
}

.everything .filter #dropdown #color .colorpicker .bluishgrey{
	width: 20px;
	height: 20px;
	border-radius: 100%;
	background-color: #B0C3C7;
}

.everything .filter #dropdown #color .colorpicker .darkblue{
	width: 20px;
	height: 20px;
	border-radius: 100%;
	background-color: #3B6392;
}

.everything .filter #dropdown #color .colorpicker .darkgrey{
	width: 20px;
	height: 20px;
	border-radius: 100%;
	background-color: #BFC3C8;
}

.everything .filter #dropdown #color .colorpicker .black{
	width: 20px;
	height: 20px;
	border-radius: 100%;
	background-color: #2D2E2E;
}

.everything .filter #dropdown #color .colorpicker .grey{
	width: 20px;
	height: 20px;
	border-radius: 100%;
	background-color: #ECECEC;
}

.everything .filter #dropdown #color .colorpicker .lightblue{
	width: 20px;
	height: 20px;
	border-radius: 100%;
	background-color: #4193DA;
}

.everything .filter #dropdown #collection{
	display: flex;
	flex-wrap: wrap;
}

.everything .filter #dropdown #collection .collectionchoose{
	display: none;
	position: absolute;
	flex-wrap: wrap;
	width: 100%;
	height: 100%;
	align-content: center;
	margin-top: 30%;
	margin-left: -13%;
	font-size: 16px;
}

.everything .filter #dropdown #collection .collectionchoose ul li{
	color: #cacacc;
}

.everything .filter #dropdown #collection .collectionchoose .idk1 .choose{
	color: black;
}

.everything .filter #dropdown #collection .collectionchoose .idk1 #pad{
	padding-top: 30%;
}

.everything .filter #dropdown #collection .collectionchoose .idk2 #pad{
	padding-top: 26%;
}

.everything .selection{
	display: flex;
	justify-content: center;
	width: 100%;
}

.everything .selection > div{
	padding-right: 5%;
}

.everything .selection .column1 > div{
	padding-bottom: 24%;
}

.everything .selection .column1 > div > div{
	padding-top: 5%;
	width: 20%;
	font-weight: 500;
}

.everything .selection .column1 > div > div > p{
	padding-top: 20%;
	font-weight: 600;
}

.everything .selection .column2 > div{
	padding-bottom: 24%;
}

.everything .selection .column2 > div > div{
	padding-top: 5%;
	width: 20%;
	font-weight: 500;
}

.everything .selection .column2 > div > div > p{
	padding-top: 20%;
	font-weight: 600;
}

.everything .selection .column3 .subcolumn{
	padding-bottom: 10.5%;
	display: inline-flex;
}

.everything .selection .column3 .subcolumn > div{
	padding-right: 15%;
}

.everything .selection .column3 .subcolumn > div > div{
	padding-top: 5%;
	font-weight: 500;
}

.everything .selection .column3 .subcolumn > div > div > p{
	padding-top: 4%;
	font-weight: 600;
}

.everything .selection .column3 .bigimg > div{
	padding-top: 2%;
	font-weight: 500;
}

.everything .selection .column3 .bigimg > div > p{
	padding-top: 2%;
	font-weight: 600;
}

.scroller{
	width: 100%;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 350px;
}

.scroller > span{
	display: flex;
	font-weight: 500;
	padding-bottom: 0.3%;
}

.scroller .line{
	width: 9.1%;
	height: 3px;
	background: #E5E5E5;
	border-radius: 2px;
}

.scroller .line .line2{
	width: 25%;
	height: 3px;
	background: black;
	border-radius: 2px;
}

.scroller .button{
	display: flex;
	width: 9.1%;
	height: 60px;
	background: black;
	color: white;
	font-weight: 600;
	align-items: center;
	justify-content: center;
	margin-top: 1.5%;
}

.bottom{
	display: flex;
	background-color: #151C22;
	width: 100%;
	height: 220px;
	font-family: "Work Sans";
	color: white;
	align-items: center;
	justify-content: center;
}

.bottom table{
	width: 100%;
	display: flex;
	justify-content: center;
}

.bottom table tr{
	width: 100%;
	display: flex;
	justify-content: space-evenly;
	padding-bottom: 7%;
}

.bottom table #buttons td{
	padding-left: 10%;
	padding-right: 10%;
}

.bottom table #sm{
	padding-top: 7%;
}